.navbar-wrapper{
    background-image: linear-gradient(97deg, #ff7a6e, #ff9770);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
    height: 75px;
    margin-bottom: 20px;
}

.navbar-contents{
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:100%;
}

.navbar-left{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-left a, .navbar-left span{
    padding:10px;
}

.navbar-left span{
    font-size:24pt;
    color:white;
}

.navbar-center, .navbar-right a{
    font-size:14pt;
    color:white;
}